@page "/ApiDataRemote"
@using BlazorApp3.Client.ApiTest
@using Microsoft.AspNetCore.Authorization
@rendermode InteractiveAuto

@attribute [Authorize]

<h3>ApiData</h3>

@if (data == null)
{
    <p>Loading...</p>
}
else
{
    @foreach(TestData item in data)
    {
        <li>@item.Name</li>
    }
}

@code {
    [Inject]
    public IAPIData ClientData { get; set; }

    private IEnumerable<TestData>? data;

    protected override async Task OnInitializedAsync()
    {
        data = await ClientData.GetTestRemoteDataAsync();
    }
}
